

<div class="hero embed-responsive embed-responsive-21by9">

  <%= video_tag url="https://3c11185759ca764a92474e4c-nomster.s3.amazonaws.com/uploads/Library-846.mp4", playsinline: true, autoplay: true, muted: true, class: "splash", poster: "library-still.jpg" do %>
    <noscript>
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
      </p>
    </noscript>
  <% end %>

  <div id="frosty" class="col-10 offset-1">
    <h1>video + (univer) sity</h1>
    <h2>a flexible platform for online learning, powered by easy video lessons. Open 24 hours.</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>

</div>


<div class="row feature">
  <div class="col-12 col-sm intros courses">
    <h3>Amazing Courses</h3>
    <br />
    <p>Choose from any number of courses to study with amazing teachers.</p>
  </div>

  <div class="col-12 col-sm intros enroll">
    <h3>Learn At Your Own Pace</h3>
    <br />
    <p>Enroll and access a course's archive of lessons.</p>
  </div>

  <div class="col-12 col-sm intros community">
    <h3>Join our Community</h3>
    <br />
    <p>Learn with a community of like-minded individuals.</p>
  </div>
</div>
