<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">videosity</a>



  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
</nav>

<div class="hero">
  <div class="frosty col-10 offset-1">
    <h1>Learn Magic from the Pros</h1>
    <h2>I&rsquo;m an illusionist, Michael.</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />
<div class="row feature">
  <div class="col-12 col-sm">
    <h3>Amazing Courses</h3>
    <br />
    <p class="code-on-dark">Choose from any number of courses to study with amazing teachers.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Learn At Your Own Pace</h3>
    <br />
    <p class="code-on-dark">Enroll and access a course's archive of lessons.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join our Community</h3>
    <br />
    <p class="code-on-dark">Learn with a community of like-minded individuals.</p>
  </div>
</div>
