/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";


$v-colors-darker-bkgd: #052441;

$v-colors-logo-on-dark: #a6ffc5;

$v-colors-accent-on-dark: #ff5f5d;

.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('squairy_dark_2X.png');
}

.navbar-dark {
  background-color: $v-colors-darker-bkgd;

  .navbar-brand {
    color: $v-colors-logo-on-dark;
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 900;
    font-size: 1.75rem;
    letter-spacing: -1pt;
  }
}
