/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";


$v-colors-darker-bkgd: #020203;

$v-colors-darkbgd: #081e33;

$v-colors-text-main-darkbgd: rgba(255, 255, 255, 0.8);

$v-colors-logo-on-dark: #a6ffc5;

$v-colors-accent-on-dark: #ff5f5d;

$v-fonts-helvetica-stack: "Helvetica Neue", Helvetica, Arial, "Noto Sans", sans-serif;

$v-fonts-monospace-stack: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

body {
  font-family: $v-fonts-helvetica-stack;
  font-weight: 200;
}

body.videosity-dark-background {
  background-color: $v-colors-darker-bkgd;
  color: $v-colors-text-main-darkbgd;
}

.navbar {
  box-shadow: 0 0 2px #000;
  background: image_url('squairy_dark_2X.png');
}

.navbar-dark {
  background-color: $v-colors-darkbgd;

  .navbar-brand {
    color: $v-colors-logo-on-dark;
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 900;
    font-size: 1.75rem;
    letter-spacing: -.04em;
  }
}

.hero {
  background: image_url('geert-pieters-A2cHC7Sfh9w-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  padding-top: 2em;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  background: rgba(25, 25, 25, 0.5);
  color: $v-colors-accent-on-dark;
  border: 1px solid;
  border-color: $v-colors-accent-on-dark;

  h1 {
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 100;
    text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
  }

  h2 {
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 200;
    text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
  }

  .btn {
    border-radius: 0;
    border: none;
    background: $v-colors-accent-on-dark;
    color: white;
  }

}

.feature {
  width: 100%;
}

.feature-dark {
  color: $v-colors-logo-on-dark;
}

.code-on-dark {
  font-family: $v-fonts-monospace-stack;
  color: $v-colors-accent-on-dark;
}

.v-main-layout-box {
  border: 1px solid #ccc;
  border-color: $v-colors-accent-on-dark;
  margin: 1em;
  padding: 1em;

  h1, h2 {
    color: $v-colors-accent-on-dark;
    font-family: $v-fonts-helvetica-stack;
    text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
    font-weight: 100;
    margin-bottom: 1em;
  }

  .btn {
    border-radius: 0;
    border: none;
    background: $v-colors-accent-on-dark;
    color: white;
  }
}
