/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */


@import "bootstrap";
@import "font-awesome";


$v-colors-darkbgd: #000;

$v-colors-text-main-darkbgd: rgba(255, 255, 255, 0.8);

$v-colors-logo-on-dark: #a6ffc5;

$v-colors-accent-on-dark: #ff5f5d;

$v-fonts-helvetica-stack: "Helvetica Neue", Helvetica, Arial, "Noto Sans", sans-serif;

$v-fonts-monospace-stack: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

$v-fonts-serif-stack: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;

@mixin logotype {
  color: $v-colors-logo-on-dark;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 900;
  font-size: 1.75rem;
  letter-spacing: -.04em;
}

body {
  font-family: $v-fonts-helvetica-stack;
  font-weight: 200;
}

body.videosity-dark-background {
  background-color: $v-colors-darkbgd;
  color: $v-colors-text-main-darkbgd;
}


.navbar-dark {
  background-color: $v-colors-darkbgd;

  .navbar-brand {
    color: $v-colors-logo-on-dark;
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 900;
    font-size: 1.75rem;
    letter-spacing: -.04em;
  }
}


.hero {
  height: 370px;
  padding-top: 2em;
  position:relative;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

video.splash {
    z-index: -100;
    transition: 1s opacity;
    background: image_url('library-still.jpg') no-repeat;
    background-size: cover;
    object-fit: fill;
    opacity: .3;
}
.stopfade {
   opacity: .3;
}

#frosty {
  color: $v-colors-accent-on-dark;
  border: 1px solid;
  border-color: $v-colors-accent-on-dark;
  font-family: $v-fonts-serif-stack;

  position:absolute;
  top:10%;
  left:0;
  z-index:100;
  padding-top:1.5em;
  padding-bottom:.2em;

  h1 {
    @include logotype
    display: inline;
    line-height: 1.2em;
  }

  h2 {
    font-family: $v-fonts-serif-stack;
    font-weight: 600;
    font-style: italic;
    display: inline;
    margin-left:.5em;
    line-height: 1.2em;
  }

  .btn {
    border-radius: 0;
    border: none;
    background: $v-colors-accent-on-dark;
    color: white;
    font-family: $v-fonts-helvetica-stack;
    margin-top: 1em;
  }

}

.feature {
  width: 100%;
  margin:0;

  .intros {
    padding: 2.5%;
    min-height: 250px;
  }

  .courses {
    background: image_url('typewriter.jpg') no-repeat;
    background-size: cover;
  }

  .enroll {
    background: image_url('fan.jpg') no-repeat;
    background-size: cover;
  }

  .community {
    background: image_url('code.jpg') no-repeat;
    background-size: cover;
  }

  p {
    font-size:1.5em;
  }
}

.feature-dark {
  color: $v-colors-logo-on-dark;
}

.code-on-dark {
  font-family: $v-fonts-monospace-stack;
  color: $v-colors-accent-on-dark;
}

.v-main-layout-box {
  border: 1px solid #ccc;
  border-color: $v-colors-accent-on-dark;
  padding: 1em;

  h1, h2 {
    color: $v-colors-accent-on-dark;
    font-family: $v-fonts-helvetica-stack;
    text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
    font-weight: 100;
    margin-bottom: 1em;
  }

  .btn {
    border-radius: 0;
    border: none;
    background: $v-colors-accent-on-dark;
    color: white;
  }
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.clr {
  clear: both;
}

#section, #lesson {
  list-style-type: none;

  li {
      border: 1px solid;
      border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
    }

  .header {
    font-size: 25px;
    font-weight: 100;

    .fa {
      font-size: 18px;
    }
  }

}

#section li {
  padding: 20px;
  margin: 20px;
}

#lesson li {
  background: black;
  color: white;
  margin: 10px;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  padding: 8px;
  font-size: 15px;

  strong {
    font-size: 25px;
    font-weight: 100;
  }

  p {
    margin: 0;
  }
}

.lesson {
  background-color: black;
  margin-top: 10px;
  height: 130px;

  a {
    color: white;
    font-family: $v-fonts-helvetica-stack;
    font-weight: 100;
    font-size: 15px;
  }

  strong {
    font-weight: 100;
    font-size: 25px;
  }
}

.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #e4e4e4;
  padding: 20px;
}

.modal-content {
  color: black;
}
.modal-header {
  .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem;
  }
}
